<p id="notice"><%= notice %></p>

<h1>Sitefactors</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sitefactors.each do |sitefactor| %>
      <tr>
        <td><%= link_to 'Show', sitefactor %></td>
        <td><%= link_to 'Edit', edit_sitefactor_path(sitefactor) %></td>
        <td><%= link_to 'Destroy', sitefactor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sitefactor', new_sitefactor_path %>
